---
// import Github from "../icons/github.astro";
// import Google from "../icons/google.astro";
import { Icons } from "./Icons";
---

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <!-- <Icons.Logo className='mx-auto h-10 w-auto' /> -->
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-[450px] bg-black/5 rounded-lg">
    <div class="px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <!-- -- Email input -->
      <div>
        <label for="email" class="block text-sm font-medium leading-6"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            placeholder=" exapmple@gmail.com"
            class="block bg-background w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-border placeholder:text-muted-foreground focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <!-- -- Email input -->
      <div class="flex items-center justify-between mt-3">
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 rounded border-border text-primary focus:ring-primary"
          />
          <label for="remember-me" class="ml-3 block text-sm leading-6"
            >Remember me</label
          >
        </div>

        <div class="text-sm leading-6">
          <a href="#" class="font-semibold text-primary hover:text-primary/90"
            >Forgot password?</a
          >
        </div>
      </div>
      <!-- --TODO: Signin with Email input no fount -->
      <a
        href="/dashboard"
        class="bg-black mt-7 rounded-md p-3.5 cursor-pointer"
        style="display: flex; justify-content: center; "
      >
        <button type="submit">Sign in</button>
      </a>

      <!-- -- line -->
      <div class="relative mt-10">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-border"></div>
        </div>
        <div class="relative flex justify-center text-sm font-medium leading-6">
          <span class="bg-white rounded-lg text-black px-4 py-1"
            >Or continue with</span
          >
        </div>
      </div>
      <!-- -- Buttons google and github -->
      <div class="buttons">
        <div class="mt-6 grid grid-cols-2 gap-4">
          <!-- TODO: add from here  -->
          <button
            class="bg-black w-40 p-2 rounded-md flex justify-center items-center hover:bg-black/70"
            value="google"
            name="provider"
            type="submit"
            formaction="/api/auth/login"
          >
            <Icons.Google className="h-6 w-auto" />
          </button>
          <!-- TODO: add from here -->
          <button
            class="bg-black w-40 p-2 rounded-md flex justify-center items-center hover:bg-black/70"
            value="github"
            name="provider"
            type="submit"
            formaction="/api/auth/login"
          >
            <Icons.GitHub className="h-6 w-auto" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
