---
import { Icons } from "../components/Icons";
---

<section class="container flex flex-col justify-center">
  <div class="profile flex flex-col mt-8 items-center">
    <img class="me" src="/images/profile.jpg" />
    <span class="text-2xl font-bold mt-2 text-white/90">Name here</span>
  </div>
  <div class="Email mt-1">
    <Icons.Email />
    <span class="pl-2">example@gmail.com</span>
  </div>
</section>

<!-- #region css -->
<style>
  .me {
    width: 25%;
    border-radius: 50%;
  }
  .supaImg {
    display: flex;
    position: fixed;
    left: 15rem;
    bottom: 6rem;
  }
  .contentLogosupa {
    width: 80px;
    filter: drop-shadow(5px 5px 30px #1dd07c);
  }
  .Email {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-left: 8px;
    background: rgb(5, 160, 80);
    width: 50%;
    border-radius: 5px;
    height: 50px;
  }
</style>
